<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="g3.hydrantmana.hydrantweb.mapper.UserMapper">
    <select id="selectUser"
            resultType="g3.hydrantmana.domain.dto.UserDTO">

        SELECT
            id,
        username,
        password,
        phone,
        priv,
        status
        FROM user_table
        WHERE 1 = 1

        <if test="query.username != null and query.username != ''">
            AND username LIKE CONCAT('%', #{query.username}, '%')
        </if>

        <if test="query.phone != null and query.phone != ''">
            AND phone LIKE CONCAT('%', #{query.phone}, '%')
        </if>

        <if test="query.priv != null">
            AND priv = #{query.priv}
        </if>

        <if test="query.status != null">
            AND status = #{query.status}
        </if>
    </select>
</mapper>
